<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="css/styles.css"/>
  <link rel="icon" href="assets/weather.png"/>
</head>
<body>
<div class="main-content">
  {{>header}}
  <h2>{{name}}</h2>
  <img class="portrait" src="assets/front.jpg">
</div>
{{>footer}}
</body>
</html>
